.login-container {
    background: rgba(20, 20, 20, 0.95);
    border-radius: 12px;
    width: 75%;
    max-height: auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding-box {
    background: #111;
    flex: 1;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    width: 120px;
    filter: drop-shadow(0 0 10px gold);
    margin-bottom: 20px;
}

.text-gold {
    color: gold !important;
}

.login-form {
    flex: 1.3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-input {
    background: #222;
    border: 2px solid gold;
    color: white;
    border-radius: 6px;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.custom-input:focus {
    border-color: gold;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}

.btn-gold {
    background: gold;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    padding: 12px;
    font-size: 1rem;
}

.btn-gold:hover {
    background: rgba(255, 215, 0, 0.8);
}

.text-white {
    color: white !important;
}
