body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

header {
    z-index: 1000;
}

.sidebar {
    min-height: calc(100vh - 70px);
    border-right: 2px solid #444;
    overflow-y: auto;
}

.product-section {
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-right: 10px;
}




/* Product */
.product-card {
    background: rgba(20, 20, 20, 0.95);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}


.product-card img {
    max-width: 100%; 
    max-height: 180px; 
    width: auto; 
    height: auto; 
    object-fit: contain; 
    border-radius: 8px;
}

.product-name {
    font-size: 1.1rem;
    color: gold;
    margin-top: 5px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffcc00;
}

.rating {
    font-size: 1.1rem;
    margin-top: 5px;
}
