body {
    font-family: Arial, sans-serif;
}

.navbar-brand i {
    color: gold;
}

.search-bar {
    background: #222;
    color: white;
    border: 2px solid gold;
    border-radius: 6px;
    padding: 8px;
}

.search-bar:focus {
    border-color: gold;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}


.product-img {
    display: block;
    margin: auto;
    width: auto;
    height: 65%;
    max-width: 400px;
    border-radius: 8px;
    object-fit: contain;
}



.product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    color: navy;
}

.product-rating {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}


.footer {
    background: black;
    color: white;
    padding: 40px 0;
    text-align: left;
}

.footer h5 {
    color: gold;
    margin-bottom: 15px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: gold;
}

.social-icon:hover {
    color: white;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid gold;
    padding-top: 10px;
    font-size: 14px;
}

.selector{
    border: 2px solid;
}

.selector:hover{
    background-color: black;
    color: gold;
}

.now{
    background-color: navy;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    
}

.now: hover{
    background-color: white;
    color: navy;
    
}

#blink{
    animation: blinker 2.5s infinite;
    color: black;
    background-color: gold;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        background-color: black;
        color: white;
    }
}

#alter:hover {
    scale: 1.05;
}
